.vscode/settings.json
tets_hgt/__pycache__/test_archivo.cpython-312-pytest-8.1.1.pyc
tets_hgt/__pycache__/test_evento.cpython-312-pytest-8.1.1.pyc
tets_hgt/__pycache__/test_interfaz.cpython-312-pytest-8.1.1.pyc
tets_hgt/__pycache__/test_listaevento.cpython-312-pytest-8.1.1.pyc
tets_hgt/__pycache__/test_listatarea.cpython-312-pytest-8.1.1.pyc
tets_hgt/__pycache__/test_tarea.cpython-312-pytest-8.1.1.pyc
hgt/__pycache__/evento.cpython-312.pyc
tests_hgt/__pycache__/test_evento.cpython-312-pytest-8.1.1.pyc
tests_hgt/__pycache__/test_evento.cpython-312-pytest-8.1.1.pyc
tests_hgt/__pycache__/test_evento.cpython-312-pytest-8.1.1.pyc
